.button {
  border: 2px solid variables.$blue-light;
  background-color: variables.$white;
  font-family: variables.$font-title;
  text-transform: uppercase;
  color: variables.$orange;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  width: fit-content;
  font-weight: 700;
  font-size: 1rem;

  &__primary {
    background-color: variables.$white;

    &:hover {
      outline: 1px solid variables.$blue-light;
    }
  }

  &__success {
    background-color: variables.$green-light;
    border: 2px solid variables.$green;
    color: variables.$black;

    &:hover {
      outline: 1px solid variables.$green;
    }
  }

  &__fail {
    background-color: variables.$red-light;
    border: 2px solid variables.$red;
    color: variables.$black;

    &:hover {
      outline: 1px solid variables.$red;
    }
  }

  &__dark {
    background-color: variables.$blue-dark;
    border: 2px solid variables.$blue-light;
    color: variables.$blue-light;

    &:hover {
      outline: 1px solid variables.$blue-dark;
    }
  }

  &__disabled {
    background-color: gray;
    color: white;
    border-color: black;

    &:hover {
      outline: unset;
    }
  }

  @include mixins.for-size(tablet) {
    padding: 0.5rem 1.25rem;
    font-size: 1.25rem;
  }

  @include mixins.for-size(desktop) {
    padding: 0.5rem 2rem;
  }
}
