.menuToggle {
  .menuToggle__button {
    background-color: transparent;
    border: 0;

    .button__icon {
      width: 2.5rem;
      height: 2.5rem;
      color: variables.$orange;
    }
  }
}

.menuBar {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 2rem 1.5rem;
  margin: 0 5%;
  width: 90%;
  background-color: variables.$blue-light;
  border-radius: 0.75rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  color: variables.$white;

  .menuBar__options {
    display: flex;
    flex-direction: column;
  }

  .menuBar__divider {
    border: 1px solid variables.$orange-light;
  }

  .menuBar__login {
    display: flex;
    flex-direction: column;
  }

  .__links {
    font-size: 1.4rem;
    font-weight: 700;
    padding: 1rem 0;
    border-radius: 2rem;

    &--colorful {
      background-color: variables.$orange-light;

      &:hover {
        background-color: variables.$orange;
      }
    }
  }
}
