.header {
  display: flex;
  position: fixed;
  top: 0;

  background-color: variables.$white;
  width: 100%;
  height: 10vh;
  gap: 2rem;
  padding: 0 1.75rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  .header__logo {
    position: absolute;
    left: 44%;
    a{
      img {
        border-radius: 50%;
      }
    }
  }

  .header__desktop {
    display: none;
  }

  .header__mobile {
    display: flex;
  }

  @media screen and (min-width: 768px) {
    padding: 0 6rem;
    margin-bottom: 2rem;

    .header__desktop {
      display: flex;
    }

    .header__mobile {
      display: none;
    }
  }
}
