.overlay {
  justify-content: center;
  align-items: center;
  display: flex;

  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2;
  left: 0;
  top: 0;

  .modal {
    flex-direction: column;
    max-width: 90%;
    display: flex;
    gap: 1rem;

    border: 3px solid variables.$blue-light;
    background-color: variables.$white;
    border-radius: 0.5rem;
    padding: 1rem;

    &__title {
      font-family: variables.$font-title;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 700;
    }
  }

  @include mixins.for-size(tablet) {
    .modal {
      padding: 2rem;

      &__title {
        font-size: 2.25rem;
      }
    }
  }
}
