.searchBar {
  position: relative;
  flex-grow: 0.3;

  &__input {
    border: 2px solid variables.$blue-light;
    caret-color: variables.$blue-light;
    font-family: variables.$font-title;
    padding: 0.5rem 2.5rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    width: 100%;

    &::placeholder {
      color: rgba(0, 0, 0, 0.5);
      font-weight: 600;
    }

    &:focus {
      outline: 1px solid variables.$blue-light;
    }
  }

  &__button {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 25%;

    .button__icon {
      color: variables.$blue-light;
    }
  }
}
