.header {
  background-color: variables.$white;
  width: 100vw;
  height: 12vh;
  padding: 0.5rem 0;

  .header__logo {
    position: absolute;
    left: 35%;

    img {
      border-radius: 50%;
    }
  }

  @media screen and (min-width: variables.$desktop-width) {
    position: fixed;
    top: 0;

    .header__logo {
      left: 45%;
    }
  }
}
