.loading {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 3rem 0;

  &__title {
    color: white;
    font-size: 3.5rem;
    font-family: variables.$font-titles;
    font-style: italic;
  }
}