.loading {
  flex-direction: column;
  margin: 3rem 0 0;
  display: flex;
  flex-grow: 1;
  width: 20%;
  gap: 1rem;

  &__title {
    font-family: variables.$font-title;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
  }
}
