.home {
  color: variables.$white;
  padding: 4rem 2rem 2rem;

  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-grow: 1;

  &__title {
    font-family: variables.$font-title;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
  }

  &__sub {
    text-align: center;
    font-size: 1.5rem;
  }

  &__options {
    justify-content: center;
    margin-top: 2.5rem;
    gap: 0.5rem 1rem;
    flex-wrap: wrap;
    display: flex;

    &__icon {
      border: 3px solid variables.$blue-light;
      border-radius: 0.5rem;
      transition: 0.25s;
      height: 7.5rem;
      width: 7.5rem;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  @include mixins.for-size(desktop) {
    padding: 0 8rem;

    &__title {
      font-size: 2.5rem;
    }

    &__sub {
      font-size: 1.75rem;
    }

    &__options {
      &__icon {
        height: 8rem;
        width: 8rem;
      }
    }
  }

  @include mixins.for-size(desktop-md) {
    padding: 0 16rem;

    &__title {
      font-size: 3rem;
    }

    &__sub {
      font-size: 2rem;
    }

    &__options {
      &__icon {
        height: 10rem;
        width: 10rem;
      }
    }
  }
}
