.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 78vh;
  padding: 5.5rem 2rem 0;
  color: variables.$white;
  font-family: variables.$font-titles;

  &__title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  &__subtitle {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  &__options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
    margin-bottom: 2rem;

    .options__icon {
      width: 9rem;
      height: 9rem;
      border-radius: 1rem;
      transition: 1s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  @media screen and (min-width: variables.$desktop-width) {
    padding: 4rem 8rem 0;

    &__options {
      padding: 0 10rem;

      .options__icon {
        width: 8.5rem;
        height: 8.5rem;
      }
    }
  }
}
