:root.light {
  @include mixins.spread-map(variables.$theme-map-light);
}

:root.dark {
  @include mixins.spread-map(variables.$theme-map-dark);
}

body {
  background-image: url('/images/background.png');
  background-color: variables.$orange-light;
  background-repeat: repeat;
  background-size: contain;
  margin: 0;
}

#root {
  flex-direction: column;
  min-height: 100vh;
  display: flex;
}
