.alertModal {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;

  &__message {
    font-size: 1.1rem;
    text-align: center;
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}
