$orange: hsl(17, 100%, 50%);
$orange-light: hsl(27, 100%, 65%);
$orange-dark: hsl(22, 85%, 43%);
$blue-dark: hsl(222.63, 79.17%, 18.82%);
$blue-light: hsl(185.37, 56.16%, 57.06%);
$white: white;
$black: black;

$font-titles: 'Poppins';
$font-text: 'Montserrat';
$font-size: 18px;
$mobile-width: 375px;
$desktop-width: 1440px;
