// fonts
$font-title: 'Baloo 2';
$font-text: 'Open Sans';
$font-size: 18px;

// colors
$orange: #ff4800;
$orange-light: hsl(27, 100%, 65%);
$orange-dark: hsl(22, 85%, 43%);
$blue-dark: #0a2057;
$blue-light: #54c4cf;
$white: white;
$black: black;
$red: red;
$red-light: rgb(255, 134, 134);
$green: rgb(0, 190, 0);
$green-light: rgb(102, 216, 102);

// devices breakpoints
$breakpoint-tablet: 767px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-md: 1440px;
$breakpoint-desktop-lg: 1880px;
$mobile-width: 375px;
$desktop-width: 1250px;

// themes
$--background-primary: --background-primary;
$--background-secondary: --background-secondary;
$--theme-primary: --theme-primary;
$--theme-secondary: --theme-secondary;
$--theme-surface: --theme-surface;
$--theme-background: --theme-background;
$--theme-off-primary: --theme-off-primary;
$--theme-off-secondary: --theme-off-secondary;
$--theme-on-surface: --theme-on-surface;
$--theme-smoke-down: --theme-smoke-down;
$--theme-smoke-up: --theme-smoke-up;
$--theme-higher-contrast: --theme-higher-contrast;
$--theme-background-opaque: --theme-background-opaque;

$theme-map-light: (
  --background-primary: $orange-light,
  --background-secondary: white,
  --theme-primary: $orange,
  --theme-secondary: $blue-dark,
  --theme-off-primary: $orange-light,
  --theme-off-secondary: $blue-light,
  --theme-surface: #f3f1ed,
  --theme-background: #ffffff,
  --theme-background-opaque: #f3f1edda,
  --theme-on-surface: #1a1a1a,
  --theme-smoke-down: #0000004d,
  --theme-smoke-up: #ffffff,
  --theme-higher-contrast: #ffffff,
);

$theme-map-dark: (
  --background-primary: orange,
  --background-secondary: black,
  --theme-primary: #96c11f,
  --theme-secondary: #f8f8f8,
  --theme-off-primary: #96c11f,
  --theme-off-secondary: #f8f8f8,
  --theme-surface: #1a1a1a,
  --theme-background: #000000,
  --theme-background-opaque: #1a1a1ad2,
  --theme-on-surface: #f3f1ed,
  --theme-smoke-down: #000000,
  --theme-smoke-up: #ffffff25,
  --theme-higher-contrast: #000000,
);
