// Add fonts here...

body{
  font-family: variables.$font-primary, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: variables.$font-size;
  font-weight: 500;
  line-height: 1.25;
  color: black;
}
