.stockForm {
  flex-direction: column;
  display: flex;
  gap: 1rem;

  &__rows {
    flex-wrap: wrap;
    display: flex;
    gap: 1rem;
  }

  &__actions {
    justify-content: center;
    display: flex;
    width: 100%;
    gap: 1rem;
  }

  @include mixins.for-size(tablet) {
    gap: 1.5rem;

    &__actions {
      margin-top: 1rem;
    }
  }
}

.stockFormContainer {
  min-height: 80vh;
}
