.passwordReset {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.12);
  color: var(--theme-secondary);
  flex-direction: column;
  border-radius: 1rem;
  padding: 1.5rem;
  min-width: 70%;
  display: flex;
  gap: 1rem;

  &__title {
    font-family: variables.$font-title;
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
  }

  &__sub {
    text-align: center;
    font-size: 1rem;
  }

  &__form {
    flex-direction: column;
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
  }

  @include mixins.for-size(tablet) {
    padding: 3rem;

    &__title {
      font-size: 2.25rem;
    }

    &__sub {
      font-size: 1.15rem;
    }

    &__form {
      gap: 1.5rem;
    }
  }

  @include mixins.for-size(desktop) {
    padding: 2rem;

    &__form {
      align-items: center;

      label {
        width: 70%;
      }
    }
  }
}
